{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Todos API{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/todos.png' %}" type="image/x-icon">
    {% include 'todos/css.html' %}
</head>
{% include 'todos/preload.html' %}

<body>
    {% csrf_token %}
    <div id="mainContent">
        {% include 'todos/navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'todos/footer.html' %}
    </div>
    {% include 'todos/message.html' %}
</body>
{% include 'todos/postload.html' %}

</html>