{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Firechat{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    {% include "config/css.html" %}
</head>
{% include 'config/preScripts.html' %}

<body data-theme="dark">
    {% csrf_token %}
    <div class="main-content">
        {% include 'firechat/navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'firechat/footer.html' %}
    </div>
    {% include 'config/message.html' %}
    <!-- firestore_config -->
    <div id="firestore_config"></div>
    {% if request.user.is_authenticated %}
    {% include 'chat/online-users-modal.html' %}
    {% endif %}
</body>
{% include 'config/postScripts.html' %}
{% block js %}
{% endblock %}

</html>